body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Arial';
    /* font-weight: 400; */
    /* font-style: normal; */
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
.navbar-inverse .navbar-brand {
    font-family: 'Arial';
    /* font-weight: 400; */
    /* font-style: normal; */
    font-size: 20px;
    color: #00CCFF;
    text-align: center;
}




@media (min-width: 1200px) {
    .container {
        max-width: 1920px;
    }
    .row {
        padding-top:50px;
        padding-left: 100px;
        padding-right: 100px;
    }
}