
@{
    ViewBag.Title = "Organize";
    Layout = "~/Views/Shared/_LayoutHowItWorks.cshtml";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <div class="tbd" id="jumbotron_content">
            <h1>Organize your hackathon in a few clicks</h1>
            <h3>Be part of the ecosystem and enable impactful innovation by organizing your own hacking space!</h3>
            <p class="lead"></p>
            <p><a class="btn btn-primary btn-lg">Start now &raquo;</a></p>
        </div>
     

    </div>

</div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How it works</h2>
        <p><h4>HackSpace is the first online tool that enables innovators to create their own hackathon by providing all the ingredients to facilitate its organizations and make it successful</h4></p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <button type="button" style="background-color:deepskyblue"
                  class="btn btn-default btn-circle btn-xl">
          <h1><i class="glyphicon glyphicon-pencil white" style="width:100px"></i></h1>
          </button>
          
            <h3>Design</h3>
          <p class="text-muted">Create your profile and design your own hackton</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <button type="button" style="background-color:dodgerblue" class="btn btn-default btn-circle btn-xl">
            <h1> <i class=" white glyphicon glyphicon-volume-up"></i></h1>
         </button>
          <h3>Promote</h3>
          <p class="text-muted">Share your event within the whole community of hackers</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
         
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <button type="button" style="background-color:deepskyblue" class="btn btn-default btn-circle btn-xl">
           <h1><i class=" white glyphicon glyphicon-blackboard"></i></h1> 
          </button>
          <h3>Manage</h3>
          <p class="text-muted">Manage your hackton from idea to execution</p>
        </div>
      </div>

    </div>
    
  </div>
</section>
<div class="container-fluid" style="background-image:url(/Content/Images/Hackton.PNG) ;height:300px;">
  <div class="row">


  </div>

</div>
@*<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12" style="padding:0">
      <img src="~/Content/Images/Hackton.PNG" alt="Content/images/Hackton" class="img-responsive" />    </div>
  </div>
</div>*@

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Features</h2>
          <p>All the features you need to build your minimum viable ecosystem, convince hackers to innovate with you and bring ideas to their next level.</p>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center" style="margin-bottom:0">
        <div class="btn-group col-lg-4 col-md-6 " style="width:100%">
          <button class="feature"style="width:15%;height:50px;margin-right:12px;background-color: transparent">Platform set-up</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px"><h6>Platform Customization</h6></button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px">Paiment module</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px">Idea pitching</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px">Team match-making</button>

        </div>


      </div>
      <div class=" row text-center">
        <div class="btn-group col-lg-4 col-md-6" style="width:100%">

          <button class="feature"style="width:15%;height:50px;margin-right:12px" >Expert request</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px" >Rewards store</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px">Technical assistance</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px">Social Sharing</button>
          <button class="feature"style="width:15%;height:50px;margin-right:12px">Content library</button>
        </div>


      </div>

      <div class="row">
        <button type="button" class="btn btn-primary" style="float:right; margin-top:28px;margin-bottom:8px">Suggest New</button>
      </div>


    </div>

    
    <div class="container-fluid"  style="background-image:url(/Content/Images/HacktonPricing.PNG) ;height:500px;">
      <div class="row">
      
        
      </div>
      
    </div>
    
    <div class="container-fluid" style="background-color:darkslategray;color:white">
      
        <div class="row text-center" style="margin-bottom:-4px">
          <div class="btn-group col-lg-4 col-md-6 " style="width:100%">
            <button class="feature" style="width:25%;height:50px;margin-right:12px;background-color: deepskyblue;color:white">Basic(7,69€)</button>
            <button class="feature" style="width:25%;height:50px;margin-right:12px;background-color: deepskyblue;color:white">Pro(8,69 euros)</button>
            <button class="feature" style="width:25%;height:50px;margin-right:12px;background-color: deepskyblue;color:white">Premium(9,69 euros)</button>
            

          </div>


        </div>
        <div class=" row text-center">
          <div class="btn-group col-lg-4 col-md-6" style="width:100%;margin-bottom:4px;">

            <button class="feature" style="width:25%;height:250px;margin-right:12px;position:relative;">
            <ul style="color:white">
              <li>From 20 to 100 users</li>
              <li>Basic hackton</li>
              <li>No rewards</li>
              <li>No sponsors</li>
             </ul>
              <p style="position:absolute;bottom:0px;right:0px;margin-right:4px">*From 7,69 euros per user </p>
            </button>
            <button class="feature" style="width:25%;height:250px;margin-right:12px;position:relative;">
              <ul style="color:white">
                <li>From 20 to 100 users</li>
                <li>Basic hackton</li>
                <li>No rewards</li>
                <li>No sponsors</li>
              </ul>
              <p style="position:absolute;bottom:0px;right:0px;margin-right:4px">*From 8,69 euros per user </p>
            </button>
            <button class="feature" style="width:25%;height:250px;margin-right:12px;position:relative;">
              <ul style="color:white">
                <li>From 20 to 100 users</li>
                <li>Basic hackton</li>
                <li>No rewards</li>
                <li>No sponsors</li>
              </ul>
              <p style="position:absolute;bottom:0px;right:0px;margin-right:4px">*From 9,69 euros per user </p>
            </button>
           
          </div>


        </div>
      
    </div>
    <div class="container-fluid">
      <div class="row">
        <section class="slide-wrapper">
          <div class="container">
            <div id="myCarousel" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item item1 active">
                  <div class="fill" style="background-color:#7fc2f4;">
                    <div class="inner-content">
                      <div class="col-md-6">
                        <div class="carousel-img">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGTWgOTdYEfshI9EVIAnoyqeH4TJMIW5Mo21NoHWi73OYQBLED" alt="sofa" class="img img-responsive" style="border-radius:50%;width:500px" />
                        </div>
                      </div>
                      <div class="col-md-6 text-left">
                        <div class="carousel-desc">
                          <h2>Stylish Sofa</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit ipsum, scelerisque non semper eu, aliquet vel odio. Sed auctor id purus nec tristique. Donec euismod, urna vel dapibus tristique, dolor arcu ultrices lectus, nec pulvinar est turpis sit amet felis. Duis interdum purus quam, vitae cursus erat ornare at. Donec congue mi a ipsum tincidunt, imperdiet vehicula odio rutrum. Nam porta vulputate magna, id pretium lectus iaculis eu. Ut ut viverra libero.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="item item2">
                  <div class="fill" style="background-color:#7fc2f4;">
                    <div class="inner-content">
                      <div class="col-md-6">
                        <div class="carousel-img">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6ZOyorB7lV07A22bm6iIp39Mk4tiuOu9pOq2AaW3tVnr2mQqg" alt="sofa" class="img img-responsive" style="border-radius:50%;width:500px" />
                        </div>
                      </div>
                      <div class="col-md-6 text-left">
                        <div class="carousel-desc">
                          <h2>Stylish Sofa</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit ipsum, scelerisque non semper eu, aliquet vel odio. Sed auctor id purus nec tristique. Donec euismod, urna vel dapibus tristique, dolor arcu ultrices lectus, nec pulvinar est turpis sit amet felis. Duis interdum purus quam, vitae cursus erat ornare at. Donec congue mi a ipsum tincidunt, imperdiet vehicula odio rutrum. Nam porta vulputate magna, id pretium lectus iaculis eu. Ut ut viverra libero.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item item3">
                  <div class="fill" style="background-color:#7fc2f4;">
                    <div class="inner-content">
                      <div class="col-md-6">
                        <div class="carousel-img">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiHEBd0dI1EypFnktr9oow9u-EIhH7MvlVc5hSud1xb21COdLu" alt="sofa" class="img img-responsive" style="border-radius:50%;width:500px" />
                        </div>
                      </div>
                      <div class="col-md-6 text-left">
                        <div class="carousel-desc">
                          <h2>Stylish Sofa</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit ipsum, scelerisque non semper eu, aliquet vel odio. Sed auctor id purus nec tristique. Donec euismod, urna vel dapibus tristique, dolor arcu ultrices lectus, nec pulvinar est turpis sit amet felis. Duis interdum purus quam, vitae cursus erat ornare at. Donec congue mi a ipsum tincidunt, imperdiet vehicula odio rutrum. Nam porta vulputate magna, id pretium lectus iaculis eu. Ut ut viverra libero.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
<script type="text/javascript" src="~/Scripts/Carousel.js"></script>
