
@{
    ViewBag.Title = "Organize";
    Layout = "~/Views/Shared/_LayoutHowItWorks.cshtml";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <div class="tbd" id="jumbotron_content">
            <h1>Organize your hackathon in a few clicks</h1>
            <h3>Be part of the ecosystem and enable impactful innovation by organizing your own hacking space!</h3>
            <p class="lead"></p>
            <p><a class="btn btn-primary btn-lg">Start now &raquo;</a></p>
        </div>
    </div>
</div>
