
@{
    ViewBag.Title = "Organize";
    Layout = "~/Views/Shared/_LayoutHowItWorks.cshtml";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <div class="tbd" id="jumbotron_content">
            <h1>Organize your hackathon in a few clicks</h1>
            <h3>Be part of the ecosystem and enable impactful innovation by organizing your own hacking space!</h3>
            <p class="lead"></p>
            <p><a class="btn btn-primary btn-lg">Start now &raquo;</a></p>
        </div>
     

    </div>

</div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How it works</h2>
        <p><h4>HackSpace is the first online tool that enables innovators to create their own hackathon by providing all the ingredients to facilitate its organizations and make it successful</h4></p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <button type="button" class="btn btn-default btn-circle btn-xl">
          <h1><i class="glyphicon glyphicon-pencil" style="width:100px"></i></h1>
          </button>
          
            <h3>Design</h3>
          <p class="text-muted">Create your profile and design your own hackton</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <button type="button" class="btn btn-default btn-circle btn-xl">
            <h1> <i class="glyphicon glyphicon-volume-up"></i></h1>
         </button>
          <h3>Promote</h3>
          <p class="text-muted">Share your event within the whole community of hackers</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
         
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <button type="button" class="btn btn-default btn-circle btn-xl">
           <h1><i class=" glyphicon glyphicon-blackboard"></i></h1> 
          </button>
          <h3>Manage</h3>
          <p class="text-muted">Manage your hackton from idea to execution</p>
        </div>
      </div>

    </div>
    
  </div>
</section>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <img src="~/Content/Images/Hackton.PNG" alt="Content/images/Hackton" class="img-responsive" />
      </div>
    </div>
  </div>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Features</h2>
        <p>All the features you need to build your minimum viable ecosystem, convince hackers to innovate with you and bring ideas to their next level.</p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center" style="margin-bottom:0" >
      <div class="btn-group col-lg-4 col-md-6 " style="width:100%">
        <button style="width:15%;height:50px;margin-right:12px">Platform set-up</button>
        <button style="width:15%;height:50px;margin-right:12px"><h6>Platform Customization</h6></button>
        <button style="width:15%;height:50px;margin-right:12px">Paiment module</button>
        <button style="width:15%;height:50px;margin-right:12px">Idea pitching</button>
        <button style="width:15%;height:50px;margin-right:12px">Team match-making</button>
       
      </div>
        

     </div>
    <div class=" row text-center" >
      <div class="btn-group col-lg-4 col-md-6" style="width:100%">
        
        <button style="width:15%;height:50px;margin-right:12px"">Expert request</button>
        <button style="width:15%;height:50px;margin-right:12px"">Rewards store</button>
        <button style="width:15%;height:50px;margin-right:12px">Technical assistance</button>
        <button style="width:15%;height:50px;margin-right:12px">Social Sharing</button>
        <button style="width:15%;height:50px;margin-right:12px">Content library</button>
      </div>


    </div>
      
     <div class="row">
       <button type="button" class="btn btn-primary" style="float:right; margin-top:36px">Suggest New</button>
     </div>
      
    
  </div>
  
  <div class="img-lg"></div>
    
   <div class="row " style="background-image:url(Images/HacktonPricing.PNG)"></div>
     <div class="col-lg-4 col-md-6 text-center">
       <div class="service-box">
         <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
         <button type="button" class="btn btn-default btn-circle btn-xl">
           <i class="glyphicon glyphicon-pencil" style="width:100px"></i>
         </button>

         <h3>Design</h3>
         <p class="text-muted">Create your profile and design your own hackton</p>
       </div>
     </div>
     <div class="col-lg-4 col-md-6 text-center">
       <div class="service-box">
         
         <div>
           <ul>
             <li>lorem</li>
             <li>lorem</li>
             <li>lorem</li>
             <li>lorem</li>
           </ul>
         </div>
         <h3>Promote</h3>
         <p class="text-muted">Share your event within the whole community of hackers</p>
       </div>
     </div>
     <div class="col-lg-4 col-md-6 text-center">
       <div class="service-box">

         <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
         <button type="button" class="btn btn-default btn-circle btn-xl">
           <i class=" glyphicon glyphicon-blackboard"></i>
         </button>
         <h3>Manage</h3>
         <p class="text-muted">Manage your hackton from idea to execution</p>
       </div>
     </div>
  
</section>
