
@{
    ViewBag.Title = "Participate";
    Layout = "~/Views/Shared/_LayoutHowItWorks.cshtml";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <div class="tbd" id="jumbotron_content">
            <h1>Participate to the next hackathon</h1>
            <h3>Join the hackers movement and start your entrepreneurship journey through collective intelligence experiences!</h3>
            <p class="lead"></p>
            <p><a class="btn btn-primary btn-lg">Start now &raquo;</a></p>
        </div>
    </div>
</div>
