
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>RegisterSuccess</h2>

<div>
    @Html.ActionLink("Continuer", "Explore", "Explore", new { id = ViewBag.hackathonId })
</div>