
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutHowItWorks.cshtml";
}

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <div class="tbd" id="jumbotron_content">
            <h1>Support entrepreneurship</h1>
            <h3>Be part of the change-making community by providing financial, human or physical contributions.</h3>
            <p class="lead"></p>
            <p><a class="btn btn-primary btn-lg">Start now &raquo;</a></p>
        </div>
    </div>
</div>
