@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error 500 Internal Server Error</h1>
<h2 class="text-danger">Your request could not be completed because there was a problem with the service.</h2>
