@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error 503 Service Unavailable</h1>
<h2 class="text-danger">There's a problem with the service right now. Please try again later.</h2>
