@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error 403 Forbidden</h1>
<h2 class="text-danger">The request is for something forbidden. Authorization will not help.</h2>
